extends layout 
block suite 
    main 
        nav.user-page-nav
            form(action="/user/logout" method="POST")
                button(type="submit") Log Out 
        h1.messages   Achievers Talks        
        section.informations-container
            aside.user-info
                img(src=locals.user.avatar , alt=locals.user.pseudo)
                dl 
                    dd= locals.user.pseudo
                    dd 
                        a(href="/user/profile") Profile
            .messages 
                .new-message 
                    img(src=locals.user.avatar , alt=locals.user.pseudo)
                    form(action="/user/message" method='POST' class="new-message-form")
                        section.new-message-container 
                            label.write(for="new-message" style='visibility:hidden') write a post 
                            textarea(name="message",id ="new-message" cols="auto", rows="3" value = "" placeholder="write new message here ...")
                            button(type="submit" onclick="this.innerHTML = 'posting ...'")   Post    
                        if errors 
                                    ul.errors 
                                        li Empty message 
                hr.separator
                if messages 
                    each message in messages.reverse() 
                        .message 
                            .header 
                                img(src=message.user.avatar, alt=message.user.pseudo)
                                h2= message.user.pseudo +"," + "  " + message.formatted_DateTime 
                                p(id ="message-text")!= message.message
            if !locals.user.isMember
                aside.member-request 
                    a(href="/user/member-request") Become Member to post? #{user.isMember}
    